<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>Camomile Web Application</display-name>

    <welcome-file-list>
        <welcome-file>info.jsp</welcome-file>
    </welcome-file-list> 

    <servlet>
        <servlet-name>CamomileApp</servlet-name>
        <servlet-class>org.apache.wink.server.internal.servlet.RestServlet</servlet-class>
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>app.camomile.rest.CamomileApplication</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>CamomileApp</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>

    <context-param>
        <param-name>test2:allow sql</param-name>
        <param-value>false</param-value>
        <description>
            Allow Raw SQL (true or false).
        </description>
    </context-param>
    <context-param>
        <param-name>test:allow sql</param-name>
        <param-value>true</param-value>
        <description>
            Allow Raw SQL (true or false).
        </description>
    </context-param>

    <resource-ref>
        <description>Camomile DataSource Resource</description>
        <res-ref-name>jdbc/test2</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
    <resource-ref>
        <description>Camomile DataSource Resource</description>
        <res-ref-name>jdbc/test</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
</web-app>

